ion-content{
   height:80%;
}
ion-select {
   --placeholder-color: black;
   --placeholder-opacity: 1;
   width: 100%;
   justify-content: center;
   background-color:#F7F8F9;
   border-radius: 28px;
 }
 ion-button{
  --background: #F05123;
  color:white;
  --border-radius:28px;
 }
 #add{
width:99px;
 }
 